body {
  background-image: url("images/crest-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: helvetica;
  letter-spacing: 1px;
  color: white;
  text-shadow:
  -1.5px -1.5px 0 #000,
  1.5px -1.5px 0 #000,
  -1.5px 1.5px 0 #000,
  1.5px 1.5px 0 #000;
}

section {
  display: inline-block;
  text-align: center;
  background-color: lightslategray;
  border: 5px solid firebrick;
  border-radius: 15px;
  padding: 5px;
}

section h2 {
  text-decoration: underline;
}

nav {
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 5%;
  margin-bottom: 10px;
  background-color: lightslategray;
  border-radius: 15px;
  border: 5px solid black;
  padding: 10px;
}

nav h2 {
  text-align: center;
  text-decoration: underline;
}

#bio-header {
  clear: left;
  text-align: center;
  letter-spacing: 2px;
  font-family: helvetica;
  border: 3px solid red;
  border-radius: 9px;
  padding: 4px;
  background-color: lightgray;
  margin: 10px;
}

.bio {
  border: 5px solid red;
  border-radius: 40px 5px;
  margin: 10px;
  padding: 20px;
  overflow: auto;
  background: rgba(110, 122, 134, 0.91);
  clear: left;
}

div.bio p {
  vertical-align: top;
  display: inline-block;
  width: 65%;
  float: right;
  margin-left: 3%;
  border: 4px solid firebrick;
  border-radius: 7px;
  color: teal;
  background: snow;
  text-align: center;
  padding: 2px;
}

h1 {
  text-align: center;
}

div.bio h4{
  text-align: center;
  text-decoration: underline;
  font-size: larger;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: tahoma;
}

div.bio h5 {
  text-align: center;
}

.facts {
  border: 4px solid firebrick;
  width: 65%;
  float: right;
  font-family: helvetica;
  vertical-align: top;
  display: inline-block;
  margin-left: 3%;
  background: lightgray;
  border-radius: 7px;
  padding: 2px;
}

div.facts h5 {
  text-align: center;
  font-size: medium;
  text-decoration: underline;
}

.facts ul {
  list-style-type: square;
}

img {
  float: left;
  width: auto;
  max-width: 30%;
  vertical-align: top;
}

.timeline * {
  margin: auto;
  font-family: helvetica;
}

#tl-header {
  text-align: center;
  display: inline-block;
  border: 5px solid black;
  border-radius: 15px;
  background-color: lightgray;
  margin-right: 45%;
  margin-left: 45%;
  padding: 3px;
}

.timeline table {
  background-color: white;
  border: 3px solid black;
}

th, td {
  border: 1px solid black;
}

a:visited {
  color: orange;
}

a:hover {
  color: purple;
}

#website {
  width: 100%;
  text-align: center;
  background-color: lightgray;
  border-radius: 20px;
  border: 5px solid darkgreen;
  margin-top: 15px;
}

#website p {
  margin-left: 5%;
  margin-right: 5%;
}

form {
  background-color: rgba(55, 0, 200, 0.6);
  color: white;
  font-family: helvetica;
}

#thanks {
  color: orange;
  border: 10px solid slategray;
  border-radius: 20px;
  background-color: rgba(33, 94, 33, 0.64);
}

#thanks p {
  font-size: large;
  text-align: center;
}

#gerrard-time {
  background-color: red;
}

#torres-time {
  background-color: slategray;
}

#carra-time {
  background-color: darkgreen;
}

#xabi-time {
  background-color: gold;
}

#suarez-time {
  background-color: navy;
}

@media screen and (max-width: 685px) {
  img {
    float: none;
    max-width: 100%;
    display: block;
    margin: auto;
  }
  .facts {
    float: none;
    display: block;
    margin: auto;
  }
  div.bio p {
    float: none;
    display: block;
    margin: auto;
  }
}